body {
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 24px;

}

h1 {
	font-weight: bold;
	font-size: 40px;
	color: #7135ff;
}

#gamearea {
	margin-top: 100px;
}


#puppypic {
	max-width: 300px;
	margin-left: -15px;
}

#wordtoguess {
	color: #60d3ff;
	font-size: 60px;
	font-weight: bolder;
}

.navbar{
	background: #eee;
	border-color: #80fb97;
}

.sidebar {
	border-color: #80fb97;
	border-radius: 0;
	background: #eee;
	padding: 5px;

}

.sidebartxt {
	font-size: 22px;
}

.sidebarimg {
	margin-top: 10px;
}

#wins,
#turnsleft,
#guessed {
	font-size: 32px;
	color: #f79fff;

}

#guesstheword {
	font-size: 28px;
	color: #ffb660;
}

.alerts {
	color: #f79fff;
	font-size: 40px;
	font-weight: bolder;
	margin: 15px;
	margin-right: 100px;
}

@media screen and (max-width: 1200px) {

.h1,
.alerts {
	font-size: 30px;
}
	

}

@media screen and (max-width: 992px) {

#gamearea {
	margin-top: 150px;
}

	

{





